#Container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}
#Container > * {
  flex: 1;
}
.detail {
  justify-items: center;
}

.header {
  text-align: center;
  background-color: rgb(54, 107, 168);
  width: 100%px;
  height: 150px;
}
.tex {
  color: white;
  margin: 0;
}
#slackDisplayName {
  font-size: 5rem;
  font-family: Helvetica, sans-serif;
}
#slackProfilePicture {
  max-width: 100%;
}
.less {
  background-color: rgba(193, 193, 216, 0.37);
  text-align: center;
  height: 543px;
  justify-items: center;
}
.gl {
  background-color: rgb(54, 107, 168);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Goals {
  text-align: center;
  font-size: 2rem;
}
.first {
  justify-items: center;
  text-align: left;
  border: 10px white solid;
  padding: 10px;
}
.second {
  justify-items: center;
  text-align: left;
  border: 10px white solid;
  padding: 10px;
}
.Goals {
  background-color: rgb(10, 10, 75);
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 40px;
  height: 100px;
  color: white;
}
.first h3 {
  font-family: "Gill Sans MT";
  font-size: 2rem;
  color: white;
  padding: 10px;
  margin: 0;
}
.second h3 {
  font-family: "Gill Sans MT";
  font-size: 2rem;
  color: white;
  padding: 10px;
  margin: 0;
}
.first h2 {
  font-size: 20px;
  color: white;
  margin: 0;
}
.second h2 {
  font-size: 20px;
  color: white;
  margin: 0;
}
.second p,
.first p {
  color: whitesmoke;
}
footer {
  background-color: rgb(54, 107, 168);
  width: 100%;
  text-align: center;
}
.links a {
  color: whitesmoke;
  text-decoration: none;
  margin: 5rem;
}
#currentDateUTC {
  text-align: center;
}
.tex a {
  color: white;
  text-decoration: none;
}
